rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match the user document itself
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Match all subcollections of the user document
      match /{collectionName}/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
